vplants-web/htdocs/pr/metadata/vpindex.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<!--Index Layer-->
	
	<xsd:element name = "link">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:anyURI">
				<xsd:pattern value = "http://.*"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "herbcd" type = "xsd:string"/>
	<xsd:element name = "index">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "herbcd"/>
				<xsd:element ref = "taxon"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "taxon">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "link" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>