vplants-tusc/VPlants/src/Ver2b_Sppage.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:annotation>
		<xsd:documentation>
			This schema for Species Page descriptions is used
			for both PLANT and FUNGUS taxa.
			Flowering plants use the element "flowering".
			Non-flowering plants do not use this element.
			The element "fruiting" is used with fungi but not plants.
			The element "nativity" is used with plants but not fungi.
			Future "group" types may include LICHEN and BRYOPHYTE.
	  		There are no attributes in any of the following elements.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name = "speciesPage">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "NAME_CD"/>
				<xsd:element ref = "group"/>
				<xsd:element ref = "desc"/>
				<xsd:element ref = "similarSpecies"/>
				<xsd:element ref = "flowering" minOccurs = "0"/>
				<xsd:element ref = "fruiting" minOccurs = "0"/>
				<xsd:element ref = "habitatEcology"/>
				<xsd:element ref = "nativity" minOccurs = "0"/>
				<xsd:element ref = "notes"/>
				<xsd:element ref = "etymology"/>
				<xsd:element ref = "furtherInfo"/>
				<xsd:element ref = "references"/>
				<xsd:element ref = "otherRecords"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "NAME_CD" type = "xsd:string"/>
	<xsd:element name = "group">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:enumeration value = "PLANT"/>
				<xsd:enumeration value = "FUNGUS"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "desc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "growthForm"/>
				<xsd:element ref = "size"/>
				<xsd:element ref = "parts"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "growthForm" type = "xsd:string"/>
	<xsd:element name = "size" type = "xsd:string"/>
	<xsd:element name = "parts">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "part" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "part">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "partName"/>
				<xsd:element ref = "partText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "partName" type = "xsd:string"/>
	<xsd:element name = "partText" type = "xsd:string"/>
	<xsd:element name = "similarSpecies">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comments" minOccurs = "0"/>
				<xsd:element ref = "nameCds" minOccurs = "0"/>
				<xsd:element ref = "links" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "comments" type = "xsd:string"/>
	<xsd:element name = "nameCds">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "simNmCd" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
  <xsd:element name = "simNmCd" type = "xsd:string"/>
	<xsd:element name = "links">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "link" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "link">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "linkUri"/>
				<xsd:element ref = "linkText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "linkUri" type = "xsd:anyURI"/>
	<xsd:element name = "linkText" type = "xsd:string"/>
	<xsd:element name = "flowering" type = "xsd:string"/>
	<xsd:element name = "fruiting" type = "xsd:string"/>
	<xsd:element name = "habitatEcology" type = "xsd:string"/>
	<xsd:element name = "nativity" type = "xsd:string"/>
	<xsd:element name = "notes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comments" minOccurs = "0"/>
				<xsd:element ref = "links" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "etymology">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comments" minOccurs = "0"/>
				<xsd:element ref = "links" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "furtherInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comments" minOccurs = "0"/>
				<xsd:element ref = "links" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "references">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "reference" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "reference">
		<xsd:complexType>
			<xsd:choice>
			<!-- Contains either a Citation or a Link -->
				<xsd:element ref = "citation"/>
				<xsd:element ref = "link"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "citation" type = "xsd:string"/>
	<xsd:element name = "otherRecords">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ilBn"/>
				<xsd:element ref = "ilCk"/>
				<xsd:element ref = "ilDk"/>
				<xsd:element ref = "ilDp"/>
				<xsd:element ref = "ilGd"/>
				<xsd:element ref = "ilKd"/>
				<xsd:element ref = "ilKk"/>
				<xsd:element ref = "ilKn"/>
				<xsd:element ref = "ilLk"/>
				<xsd:element ref = "ilMh"/>
				<xsd:element ref = "ilWl"/>
				<xsd:element ref = "inJs"/>
				<xsd:element ref = "inLk"/>
				<xsd:element ref = "inLp"/>
				<xsd:element ref = "inNt"/>
				<xsd:element ref = "inPt"/>
				<xsd:element ref = "inSj"/>
				<xsd:element ref = "inSk"/>
				<xsd:element ref = "miBr"/>
				<xsd:element ref = "wiKs"/>
				<xsd:element ref = "wiMw"/>
				<xsd:element ref = "wiRc"/>
				<xsd:element ref = "wiWk"/>
				<xsd:element ref = "wiWw"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ilBn" type = "xsd:string"/>
	<xsd:element name = "ilCk" type = "xsd:string"/>
	<xsd:element name = "ilDk" type = "xsd:string"/>
	<xsd:element name = "ilDp" type = "xsd:string"/>
	<xsd:element name = "ilGd" type = "xsd:string"/>
	<xsd:element name = "ilKd" type = "xsd:string"/>
	<xsd:element name = "ilKk" type = "xsd:string"/>
	<xsd:element name = "ilKn" type = "xsd:string"/>
	<xsd:element name = "ilLk" type = "xsd:string"/>
	<xsd:element name = "ilMh" type = "xsd:string"/>
	<xsd:element name = "ilWl" type = "xsd:string"/>
	<xsd:element name = "inJs" type = "xsd:string"/>
	<xsd:element name = "inLk" type = "xsd:string"/>
	<xsd:element name = "inLp" type = "xsd:string"/>
	<xsd:element name = "inNt" type = "xsd:string"/>
	<xsd:element name = "inPt" type = "xsd:string"/>
	<xsd:element name = "inSj" type = "xsd:string"/>
	<xsd:element name = "inSk" type = "xsd:string"/>
	<xsd:element name = "miBr" type = "xsd:string"/>
	<xsd:element name = "wiKs" type = "xsd:string"/>
	<xsd:element name = "wiMw" type = "xsd:string"/>
	<xsd:element name = "wiRc" type = "xsd:string"/>
	<xsd:element name = "wiWk" type = "xsd:string"/>
	<xsd:element name = "wiWw" type = "xsd:string"/>
</xsd:schema>