trunk/vplants-web/htdocs/pr/metadata/vptaxon.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<!-- Taxon Layer-->
	
	
	<!-- ***********************VPHDR************************ -->
	
	<xsd:element name = "taxon">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "namecd"/>
				<xsd:element ref = "common" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "spm" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "common" type = "xsd:string"/>
	<xsd:element name = "spm">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "spmid"/>
				<xsd:element ref = "updttm"/>
				<xsd:element ref = "link" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "spmid" type = "xsd:string"/>
	<xsd:element name = "updttm">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "month"/>
				<xsd:element ref = "day"/>
				<xsd:element ref = "year"/>
				<xsd:element ref = "hour"/>
				<xsd:element ref = "min"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "link">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:anyURI">
				<xsd:pattern value = "http://.*"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "namecd" type = "xsd:string"/>
	<xsd:element name = "month" type = "xsd:integer"/>
	<xsd:element name = "day" type = "xsd:integer"/>
	<xsd:element name = "year" type = "xsd:integer"/>
	<xsd:element name = "hour" type = "xsd:integer"/>
	<xsd:element name = "min" type = "xsd:integer"/>
</xsd:schema>