trunk/vplants-web/htdocs/xml/spage.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:attributeGroup name = "primary"/>
	<xsd:element name = "speciesPage">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "nameCd"/>
				<xsd:element ref = "type"/>
				<xsd:element ref = "desc"/>
				<xsd:element ref = "similarSpecies"/>
				<xsd:element ref = "flowering" minOccurs = "0"/>
				<xsd:element ref = "fruiting" minOccurs = "0"/>
				<xsd:element ref = "habitatEcology"/>
				<xsd:element ref = "notes"/>
				<xsd:element ref = "etymology"/>
				<xsd:element ref = "furtherInfo"/>
				<xsd:element ref = "references"/>
				<xsd:element ref = "imageGallery"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "nameCd" type = "xsd:string"/>
	<xsd:element name = "type">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:enumeration value = "PLANT"/>
				<xsd:enumeration value = "FUNGUS"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "desc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "growthForm"/>
				<xsd:element ref = "size"/>
				<xsd:element ref = "comments"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "growthForm" type = "xsd:string"/>
	<xsd:element name = "size" type = "xsd:string"/>
	<xsd:element name = "comments" type = "xsd:string"/>
	<xsd:element name = "similarSpecies">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comments" minOccurs = "0"/>
				<xsd:element ref = "nameCds" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "nameCds">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "nameCd" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "flowering" type = "xsd:string"/>
	<xsd:element name = "fruiting" type = "xsd:string"/>
	<xsd:element name = "habitatEcology" type = "xsd:string"/>
	<xsd:element name = "notes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comments" minOccurs = "0"/>
				<xsd:element ref = "links" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "link">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "linkUri"/>
				<xsd:element ref = "linkText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "linkUri" type = "xsd:anyURI"/>
	<xsd:element name = "linkText" type = "xsd:string"/>
	<xsd:element name = "links">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "link" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "etymology">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comments" minOccurs = "0"/>
				<xsd:element ref = "links" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "furtherInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comments" minOccurs = "0"/>
				<xsd:element ref = "links" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "references">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "reference" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "imageGallery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "image" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "image">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "linkUri"/>
				<xsd:element ref = "comments" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "reference">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "citation" minOccurs = "0"/>
				<xsd:element ref = "link" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "citation" type = "xsd:string"/>
</xsd:schema>