vplants-web/htdocs/metadata/vpspm.xsd.bak

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<!-- Specimen Layer-->
	
	<xsd:simpleType name = "httpURI">
		<xsd:restriction base = "xsd:anyURI">
			<xsd:pattern value = "http://.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "mm">
		<xsd:restriction base = "xsd:integer">
			<xsd:totalDigits value = "2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "dd">
		<xsd:restriction base = "xsd:integer">
			<xsd:totalDigits value = "2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "yyyy">
		<xsd:restriction base = "xsd:integer">
			<xsd:totalDigits value = "4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name = "month" type = "mm"/>
	<xsd:element name = "day" type = "dd"/>
	<xsd:element name = "year" type = "yyyy"/>
	
	<!-- ******************VPDTL *********************-->
	
	<xsd:element name = "spm">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "colldate" minOccurs = "0"/>
				<xsd:element ref = "collectors" minOccurs = "0"/>
				<xsd:element ref = "collnbr" minOccurs = "0"/>
				<xsd:element ref = "sitegeo" minOccurs = "0"/>
				<xsd:element ref = "sitesurvey" minOccurs = "0"/>
				<xsd:element ref = "sitegps" minOccurs = "0"/>
				<xsd:element ref = "locality" minOccurs = "0"/>
				<xsd:element ref = "habitat" minOccurs = "0"/>
				<xsd:element ref = "typespm" minOccurs = "0"/>
				<xsd:element ref = "homepg" minOccurs = "0"/>
				<xsd:element ref = "crdate"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ******************Collected Date *********************-->
	
	<xsd:element name = "colldate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "month" minOccurs = "0"/>
				<xsd:element ref = "day" minOccurs = "0"/>
				<xsd:element ref = "year"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ******************Primary and Secondary Collectors *********************-->
	
	<xsd:element name = "collectors">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "pcoll"/>
				<xsd:element ref = "scoll" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "pcoll">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fname" minOccurs = "0"/>
				<xsd:element ref = "mname" minOccurs = "0"/>
				<xsd:element ref = "lname"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "scoll">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fname" minOccurs = "0"/>
				<xsd:element ref = "mname" minOccurs = "0"/>
				<xsd:element ref = "lname"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "fname">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:length value = "1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "mname">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:length value = "1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "lname" type = "xsd:string"/>
	
	<!-- ******************Collector Number *********************-->
	
	<xsd:element name = "collnbr" type = "xsd:string"/>
	
	<!-- ******************Geopolitical Site Information *********************-->
	
	<xsd:element name = "sitegeo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "state"/>
				<xsd:element ref = "county" minOccurs = "0"/>
				<xsd:element ref = "township" minOccurs = "0"/>
				<xsd:element ref = "city" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "state" type = "xsd:string"/>
	<xsd:element name = "county" type = "xsd:string"/>
	<xsd:element name = "township" type = "xsd:string"/>
	<xsd:element name = "city" type = "xsd:string"/>
	
	<!-- ******************Site Survey Information*************************** -->
	
	<xsd:element name = "sitesurvey">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "twp" minOccurs = "0"/>
				<xsd:element ref = "rng" minOccurs = "0"/>
				<xsd:element ref = "sec" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "twp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "twpnum"/>
				<xsd:element ref = "twpdir"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "twpnum" type = "xsd:string"/>
	<xsd:element name = "twpdir">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:pattern value = "[NS]"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "rng">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "rngnum"/>
				<xsd:element ref = "rngdir"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "rngnum" type = "xsd:string"/>
	<xsd:element name = "rngdir">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:pattern value = "[EW]"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "sec">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "secnum"/>
				<xsd:element ref = "secdtl"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "secnum" type = "xsd:string"/>
	<xsd:element name = "secdtl" type = "xsd:string"/>
	
	<!-- ******************Site GPS Information *******************************-->
	
	<xsd:element name = "sitegps">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "lat"/>
				<xsd:element ref = "long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "lat">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "latdir"/>
				<xsd:element ref = "latdd"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "latdir">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:pattern value = "[NS]"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "latdd" type = "xsd:decimal"/>
	<xsd:element name = "long">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "longdir"/>
				<xsd:element ref = "longdd"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "longdir">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:pattern value = "[EW]"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "longdd" type = "xsd:decimal"/>
	
	<!-- ******************Limited Locality Information **************************************-->
	
	<xsd:element name = "locality" type = "xsd:string"/>
	
	<!-- ******************Limited Habitat Information **************************************-->
	
	<xsd:element name = "habitat" type = "xsd:string"/>
	
	<!-- ******************Is this a type specimen? presence of this tag indicates Yes**************************************-->
	
	<xsd:element name = "typespm">
		<xsd:complexType/>
	</xsd:element>
	
	<!-- ******************Specimen Home Page Information **************************************-->
	
	<xsd:element name = "homepg">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "link" minOccurs = "0"/>
				<xsd:element ref = "loc" minOccurs = "0"/>
				<xsd:element ref = "hab" minOccurs = "0"/>
				<xsd:element ref = "desc" minOccurs = "0"/>
				<xsd:element ref = "assoc" minOccurs = "0"/>
				<xsd:element ref = "annot" minOccurs = "0"/>
				<xsd:element ref = "image" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ******************URL for the institutionally hosted page**************************************-->
	
	<xsd:element name = "link" type = "httpURI"/>
	
	<!-- ******************Is full locality information available?***************************************-->
	
	<xsd:element name = "loc">
		<xsd:complexType>
			<xsd:attribute name = "data" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:NMTOKEN">
						<xsd:enumeration value = "H"/>
						<xsd:enumeration value = "S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ******************Is full habitat information available? *********************************-->
	
	<xsd:element name = "hab">
		<xsd:complexType>
			<xsd:attribute name = "data" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:NMTOKEN">
						<xsd:enumeration value = "H"/>
						<xsd:enumeration value = "S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ******************Is descriptive information available?********************************-->
	
	<xsd:element name = "desc">
		<xsd:complexType>
			<xsd:attribute name = "data" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:NMTOKEN">
						<xsd:enumeration value = "H"/>
						<xsd:enumeration value = "S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ******************Are associations available?****************************************-->
	
	<xsd:element name = "assoc">
		<xsd:complexType>
			<xsd:attribute name = "data" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:NMTOKEN">
						<xsd:enumeration value = "H"/>
						<xsd:enumeration value = "S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ******************Are annotations available?****************************************-->
	
	<xsd:element name = "annot">
		<xsd:complexType>
			<xsd:attribute name = "data" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:NMTOKEN">
						<xsd:enumeration value = "H"/>
						<xsd:enumeration value = "S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ******************What types of images are available?***********************************-->
	
	<xsd:element name = "image">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "httpURI">
					<xsd:attribute name = "type" use = "required">
						<xsd:simpleType>
							<xsd:restriction base = "xsd:string">
								<xsd:enumeration value = "preview"/>
								<xsd:enumeration value = "full"/>
								<xsd:enumeration value = "flower"/>
								<xsd:enumeration value = "bud"/>
								<xsd:enumeration value = "fruit"/>
								<xsd:enumeration value = "seed"/>
								<xsd:enumeration value = "label"/>
								<xsd:enumeration value = "map"/>
								<xsd:enumeration value = "site"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "crdate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "month"/>
				<xsd:element ref = "day"/>
				<xsd:element ref = "year"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>